*{
    margin:0px;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-image: url('../images/banner/banner3.png');
    background-position:center;
    background-size:cover;
    height:650px;
    width:100%;
    display:flex;
}
nav{
    position:absolute;
    right: 150px;
}
nav ul{
    display: flex;
    list-style: none;
    padding-top:50px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    padding:10px 15px;
    font-size:20px;
    border-radius: 5px;
}
nav ul li a:hover{
    text-decoration: underline;
    color:white;

}

.content{
    height:600px;
    width:100%;
    text-align:right;
    padding-top: 150px;
    padding-right:150px;
}

.head-titile{
    font-size: 45px;
    font-weight: 700;
    color:white;
}

.head-description{
    color:white;
    margin-top:30px;
    margin-bottom: 30px;
    line-height: 27px;
}

.primary-button{
    color:#005AA6;
    background-color: white;
    padding:20px 30px;
    border:none;
    border-radius: 5px;
    font-weight: 600;
}

section{
    max-width: 1200px;
    margin:0 auto;
}

/* my failure section style from here  */
.falure{
    width:1060px;
    height: 600px;
    margin-left:100px;
    margin-top:150px;
    display: flex;
    gap:80px;
}
.falure-image{
    width:50%;
    background-image: url(../images/person.png);
    background-position:center;
    background-size: cover;
}
.falure-content{
    width:50%;
    padding-top:150px;
    padding-right: 100px;
}
.falure-title{
    font-size:35px;
    font-weight: 700px;
}
.falure-description{
    margin-top:30px;
    line-height: 27px;
}
/* its icon styel  */
.falure-cion{
    margin-top:10px;

}
.material-symbols-outlined{
    color:#00db00;
    margin:0;
    padding:0;
}

/* my plans section style from here  */
.plan-title{
    font-size:35px;
    font-weight: 700;
    text-align:center;
    margin-top:150px;
    margin-bottom: 50px;
}
.plan-boxs{
    display:flex;
    gap:100px;
    justify-content: center;
}
.plan-box{
    text-align:center;
}
.plan-box h3{
    font-size:25px;
    font-weight: 600;
    margin-top:20px
}
.plan-box p{
    font-size:25px;
    color:#737272;
    margin-top:20px;
}
/* watch section style from here */
.watch{
    width:1000px;
    height: 250px;
    background-image:url(../images/watch.png);
    position:cover;
    display: flex;
    justify-content: center;
    margin-top:100px;
    border-radius: 5px;
}
.image-gra{
    width:1000px;
    height: 250px;
    background-image: linear-gradient(to right, #005ba6 ,rgba(255, 255, 255, 0.007));
    background-position: center;
    background-size:cover;
    padding-left:100px;
    border-radius: 5px;
}
.image-gra h3{
    font-size:35px;
    color:white;
    margin-top:50px;
    margin-bottom: 20px;
    font-weight: 700;
}

/* foooter style from here  */
footer{
    background-color:#1a1919;
    height:500px;
    margin-top: 100px;
}
.main-footer{
    display: flex;
    gap:200px;
}
.footer-content{
    margin-left: 100px;
    margin-top:100px;
}
.footer-title{
    color:white;
    font-size:35px;
    font-weight: 700;
}
.footer-discreaption{
    color:white;
    line-height: 27px;
    margin-top:30px;
}
.footer-icon{
    margin-top:30px;
    padding-right: 15px;
}
.footer-input{
    margin-left:100px;
    margin-top:100px;

}
.footer-input-title{
    color:white;
}
.form-email{
    height:25px;
    padding:10px;
    color:white;
    background:none;
    outline-color: white;
    border:1px solid white;
    width:250px;
    border-radius: 5px;
    margin-top:30px;
}
.form-submit{
    color:white;
    background-color: #005AA6;
    padding: 20px 30px;
    border:none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}